@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #24292e;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #24292e;
}

.header nav ul li img {
  width: 15px;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 230px;
  margin: 0 20%;
  /* background-color: tomato; */
}

/* header レスポンシブ時 */
@media screen and (max-width: 800px) {
  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
  }
}

.header nav > ul {
  display: flex;
  gap: 25px;
}

main > h2 img {
  border: tomato 1px solid;
  width: 100%;
  height: 314px;
  object-fit: cover;
}
